/* ---------------- BODY ---------------- */
$font-familiy: Arial, Helvetica, sans-serif;

/* ---------------- NAVBAR ---------------- */
$navbar-fontsize: 18px;
$navbar-height: 70px;
$navbar-padding: 10px;
$navbar-logo-height: 70px; 
$navbar-width: 100%;
$width-ul: 100%;

/*  */
$li-color-active: #4488ff;
$li-color-border-bottom: #4488ff;
$ul-color-active: #4488ff;

/* ---------------- LEFT PANEL ---------------- */
$background-lp: #ffffff;

/* ---------------- LEFT TEXT ---------------- */
$h1-color-lp: #040e28;
$p-color-lp: #040e28;
$font-size-txt-h1: 50px;
$font-size-txt-p: 17px;